body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  border-collapse: collapse;
}

td {
  width: 80px;
  height: 80px;
  border: 1px solid #000;
  text-align: center;
  font-size: 18px;
}

#menu {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#grid-container {
  display: flex;
  flex-direction: column-reverse;
}

img {
  max-width: 100%;
  height: auto;
}